.process{
    margin:50px 0;
    padding:25px 0;
    position:relative;
    background-color: #f0ededdd;
}
.process h2{
    margin:25px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 30px;
    color:#000;  

}
.process::before{
    content:'';
    position: absolute;
    background-color:#ff0000;
    width:100px;
    height:3px;
    text-align: center;
    top:100px;
    right:720px;
}
.process p{
    margin:25px 0;
}
.process .box{
    width:100%;
    height:auto;
    max-width: 100%;
    background-color: #dddd;
    box-sizing: border-box;
    border:1px solid #dddd;
    padding:10px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.process .box h6{
    color:black;
    margin: 20px 0;
    font-size: 23px;
}
.process .box span{
    color:#575757dd;
    margin: 20px 0;
    font-size: 18px;
    
}
.process .box:hover{
    transform: translateY(20px);
}
.process button{
    display: flex;
    align-items: center;
    justify-content: center;
    width:15%;
    margin:30px auto;
    border-radius: 10px;
    background-color: #ff0000;
    border:1px solid #ff0000;
    color:#fff;
    padding:15px  0px;
    
}
.process button:hover{
    transform: translateX(30px);
}
@media screen and (max-width:767px) {
    .process .box{
        margin-top: 20px;
    }
    .process button{
        width: 60%;
    }
}