.Navbar{
background:transparent;
width:100%;
max-width: 100%;
padding:5px 0px 5px 30px;
overflow: hidden;
border-radius: 0px;
}

.navbar-brand{
color:#4c036e;
font-size: 25px;
font-weight: bold;
text-transform: uppercase;
margin-right: 50px;
}
nav a.nav-link{
    color:#212121;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0px 10px;
    
}
nav a{
    text-transform: uppercase;
}
nav a:hover{
    color:rgb(112,13,224);
    transition: 0.2s ease-in-out;
}
nav a.first{
    background-color:rgb(112,13,224);
    color:#fff !important;
    
}
Button{
background-color:#4c036e;
color:#fff;
}