.footer{
    background-color: #272a33;
    padding:50px 0;
    color:#fff;
}
.footer ul {
    text-align: left;
    color:#95a0ab!important;
    
}
.footer h5{
    text-align: left;
    color:#fff;
    margin-left: 25px;
}
.footer p{
    width:100%;
    max-width: 100%;
    color:#95a0ab!important;
    text-align: left;
    margin-left:25px;

}
.footer-alt{
    padding: 15px 0;
    background-color: #2e313a;
}
.footer-alt p{
    color:#fff;
}
.footer-alt img{
    width:30%;
    max-width: 100%;
}