body {
  margin: 0;
 font-family: 'Tajawal', sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section{
  width:100%;
  height:auto;
  overflow: hidden;
  text-align: center;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Tajawal', sans-serif;
  color:#212121;
}
p{
  line-height: 30px;
}
span{
  display: block;
  font-family: 'Tajawal', sans-serif;

}
img{
  max-width: 100%;
  height:auto;
}
li{
  list-style: none;
}
a{
  text-decoration: none !important;
}